* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fAf9f6;
}

.contentcontainer {
    background-color: #202020;
    color: #fAf9f6
}